@import "node_modules/@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "./{{ .Site.BaseURL }}/fonts";
$fa-font-path: $pf-global--font-path + "/webfonts";

$pf-global--BorderRadius--sm: 8px;

@import "node_modules/@patternfly/patternfly/patternfly.scss";
@import "node_modules/@patternfly/patternfly/patternfly-addons.scss";

.pf-x-container {
  max-width: $pf-global--breakpoint--md;
  margin: 0 auto;
}

.pf-x-hero {
  @extend .pf-u-p-lg;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 100%;
    max-width: $pf-global--breakpoint--md;
  }
}

.pf-x-footer a {
  color: var(--pf-global--Color--dark-100) !important;
}

.pf-c-page__main--bg {
  background: linear-gradient(#f58945ff, #aa585bff, #573170ff, #2d1d7aff);
  color: var(--pf-global--Color--light-100);

  & .pf-x-footer a {
    color: var(--pf-global--Color--light-100) !important;
  }
}

.pf-c-button--hero {
  --pf-c-button--after--BorderColor: var(
    --pf-c-button--m-primary--Color
  ) !important;
  color: var(--pf-c-button--m-primary--Color) !important;
}
