@import "@patternfly/patternfly/sass-utilities/_index.scss";

$pf-v6-global--font-path: "./{{ .Site.BaseURL }}/assets/fonts";
$fa-font-path: "./{{ .Site.BaseURL }}/assets/fonts/webfonts";
$pf-v6-global--fonticon-path: "./{{ .Site.BaseURL }}/assets/pficon";
$pf-v6-global--image-path: "data-url:./{{ .Site.BaseURL }}/assets/images";

@import "@patternfly/patternfly/patternfly.scss";
@import "@patternfly/patternfly/patternfly-addons.scss";

.pf-v6-x-hero {
  @extend .pf-v6-u-p-lg;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    width: 100%;
    max-width: 520px;
    border-radius: var(--pf-t--global--border--radius--medium);

    border: var(--pf-t--global--border--width--100) solid
      var(--pf-t--color--white);
    box-sizing: content-box;

    &--light {
      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }

    &--dark {
      @media (prefers-color-scheme: light) {
        display: none;
      }
    }
  }
}

.pf-v6-c-page {
  display: flex;
  background: linear-gradient(#f58945ff, #aa585bff, #573170ff, #2d1d7aff);

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(#2d2036, #2a170f);
  }

  color: var(--pf-t--color--white);

  & .pf-v6-x-footer a,
  & .pf-v6-x-footer i {
    color: var(--pf-t--color--white) !important;
  }
}

.pf-v6-c-page__main {
  background-size: 25px 25px !important;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 1px,
    rgba(0, 0, 0, 0) 1px
  ) !important;
}

.pf-v6-c-button--hero {
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  --pf-v6-c-button--BorderColor: var(--pf-t--color--white) !important;
  --pf-v6-c-button__icon--Color: var(--pf-t--color--white) !important;
  color: var(--pf-t--color--white) !important;
}

.pf-v6-c-button--cta {
  @extend .pf-m-secondary, .pf-v6-c-button--hero;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(#4a292a, #381e4a);
  }

  @media (prefers-color-scheme: light) {
    background: var(--pf-t--global--color--brand--default) !important;
  }
}

.pf-v6-x-m-no-decoration {
  text-decoration: none !important;
}
