@import "node_modules/@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "./{{ .Site.BaseURL }}/fonts";
$fa-font-path: $pf-global--font-path + "/webfonts";

$pf-global--BorderRadius--sm: 8px;

@import "node_modules/@patternfly/patternfly/patternfly.scss";
@import "node_modules/@patternfly/patternfly/patternfly-addons.scss";

.pf-x-container {
  max-width: $pf-global--breakpoint--md;
  margin: 0 auto;
}

.pf-x-hero {
  @extend .pf-u-p-lg;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 100%;
    max-width: 520px;
    border-radius: var(--pf-global--BorderRadius--sm);

    &--light {
      border: var(--pf-global--BorderWidth--sm) solid white;

      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }

    &--dark {
      box-shadow: inset 0 0 5px #fff, inset 2px 0 8px #4a292a,
        inset -2px 0 8px #381e4a, inset 2px 0 30px #4a292a,
        inset -2px 0 30px #381e4a, 0 0 5px #fff, -1px 0 8px #4a292a,
        1px 0 8px #381e4a;

      @media (prefers-color-scheme: light) {
        display: none;
      }
    }
  }
}

.pf-x-footer a {
  color: var(--pf-global--Color--dark-100) !important;
}

.pf-c-page__main--bg {
  background: linear-gradient(#f58945ff, #aa585bff, #573170ff, #2d1d7aff);

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(#2d2036, #2a170f);
  }

  color: var(--pf-global--Color--light-100);

  & .pf-x-footer a {
    color: var(--pf-global--Color--light-100) !important;
  }
}

.pf-c-button--hero {
  --pf-c-button--after--BorderColor: var(
    --pf-c-button--m-primary--Color
  ) !important;
  color: var(--pf-c-button--m-primary--Color) !important;
}

.pf-c-button--cta {
  @extend .pf-m-secondary, .pf-c-button--hero;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(#4a292a, #381e4a);
  }

  @media (prefers-color-scheme: light) {
    background: var(--pf-c-button--m-primary--BackgroundColor) !important;
  }
}
