<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Title }}
      {{ else }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>

    <!-- TODO: Add favicon -->
    <!-- <link rel="icon" href="{{ .Site.Data.person.img }}" /> -->

    <meta name="author" content="{{ .Site.Data.site.author }}" />
    <meta name="description" content="{{ .Site.Data.site.description }}" />
    <meta
      name="keywords"
      content="{{ delimit .Site.Data.site.keywords `, ` }}"
    />
    <meta
      name="copyright"
      content="© {{ now.Year }} {{ .Site.Data.site.author }}"
    />

    <link
      rel="stylesheet"
      href="{{ (resources.Get `scss/main.scss` | resources.ExecuteAsTemplate `main.scss` . | resources.ToCSS | resources.Minify).Permalink }}"
    />
  </head>
  <body>
    <div>
      <a href="#main">Skip to content</a>

      {{ block "header" . }}
        <header>
          <a href="/">Back</a>
        </header>
      {{ end }}

      {{ block "main" . }}
        <main tabindex="-1" id="main">
          {{ .Content }}
        </main>
      {{ end }}
    </div>
  </body>
</html>
