{{ define "header" }}
  <!-- No header is required on the index -->
{{ end }}

{{ define "main" }}
  <main class="pf-v6-c-page__main" tabindex="-1" id="main">
    <div class="pf-v6-x-hero">
      <img
        class="pf-v6-x-hero__logo pf-v6-x-hero__logo--light"
        src="/img/logo-light.svg"
        alt="{{ .Site.Title }} logo (light)"
      />

      <img
        class="pf-v6-x-hero__logo pf-v6-x-hero__logo--dark"
        src="/img/logo-dark.svg"
        alt="{{ .Site.Title }} logo (dark)"
      />

      <div class="pf-v6-u-font-size-lg pf-v6-u-font-weight-bold pf-v6-u-my-lg">
        {{ .Site.Data.organisation.description }}
      </div>

      <div>
        <a
          class="pf-v6-c-button pf-m-primary pf-v6-u-mr-sm pf-v6-u-mb-md pf-v6-c-button--cta"
          target="_blank"
          href="{{ .Site.Data.organisation.projects }}"
        >
          <span class="pf-v6-c-button__icon pf-m-start">
            <i class="fas fa-search-plus" aria-hidden="true"></i>
          </span>
          Explore Projects</a
        >

        <a
          class="pf-v6-c-button pf-m-secondary pf-v6-c-button--hero"
          target="_blank"
          href="{{ .Site.Data.organisation.members }}"
        >
          <span class="pf-v6-c-button__icon pf-m-start">
            <i class="fas fa-users" aria-hidden="true"></i>
          </span>
          Browse Members</a
        >
      </div>
    </div>

    <div class="pf-v6-c-page__main-body pf-v6-u-p-lg pf-v6-x-footer">
      <div class="pf-v6-l-flex pf-m-justify-content-space-between">
        <div class="pf-v6-l-flex__item">
          <a href="{{ .Site.Data.site.source }}" target="_blank" rel="noopener"
            >© {{ now.Year }} {{ .Site.Data.site.author }}</a
          >
        </div>
        <div class="pf-v6-l-flex__item">
          <a href="https://felicitas.pojtinger.com/imprint" target="_blank"
            >Imprint</a
          >
        </div>
      </div>
    </div>
  </main>
{{ end }}
